
/********** SECOND OLD ****************/
.nav-new {
    background-color: var(--nav-bg-color);
    color: var(--nav-color);
  
    padding: var(--padding-tb) var(--padding-side);
  
    /* Puts everything in a row */
    /* Spaces everything as far apart as possible */
    display: flex;
    justify-content: space-between;
    align-items: center; /* vertical */
    min-height: calc(0.1 * 100vh);
  }
  
  /* Remove Nav icon by default */
  .mobile-nav-toggle-new {
    display: none;
  }
  
  .nav__ul-new {
    font-size: var(--fs);
    display: flex;
    list-style: none; /* Removes bullets */
    gap: clamp(1rem, 5vw, 3rem);
    font-weight: 500;
  }
  
  .nav__ul-new a {
    text-decoration: none; /* Removes underline */
    color: var(--nav-color);
  }
  
  .nav__ul-new a:hover,
  .nav__ul-new a:focus {
    color: var(--nav-clr-accent);
  }
  
  @media screen and (max-width: 576px) {
    .nav__primary-nav--wrapper {
      /* position: fixed;
      inset: 7rem 1rem auto;
      margin-left: auto;
      max-width: 15rem;
      border: 3px solid green; */
  
      /* display: none; */
    }
  
    .nav-new {
      border: 3px solid green;
  
      /* align-items: start; */
      /* padding: var(--size-700); */
      /* inset: 7rem var(--size-400) auto; */
      /* width: 100vw;
      height: 100vh;
      border: 3px solid red; */
      /* margin-left: auto; */
      /* background: var(--clr-neutral-100); */
      /* border-radius: var(--size-100); */
      /* box-shadow: 0 0 0.75em rgb(0, 0, 0, 0.05); */
    }
    .mobile-nav-toggle-new {
      display: block;
    }
  
    .nav__ul-new {
      border: 3px solid red;
      /* display: grid;
      position: absolute;
      color: white;
      border: 3px solid blue; */
  
      position: absolute;
      display: grid;
  
      align-content: center;
      justify-content: center;
      list-style: none;
      top: 80px;
      left: 0;
      background-color: black;
      color: white;
      width: 100vw;
      transition: all 0.5s ease-out;
      padding: 3rem var(--padding-side);
    }
  
    /* Lets the etire space clickable  */
    li a {
      display: block;
    }
  
    li a:hover {
      color: var(--nav-clr-accent);
      cursor: pointer;
    }
  
    .mobile-nav-toggle-new {
      /* display: block; */
    }
  
    /* .nav__ul-new {
      display: grid;
      gap: 1rem;
    } */
  }
  /******** OLD **************/
  
  .nav {
    /* Ensure nav remains at the top of the screen
    /* and is displayed above all else */
    position: sticky;
    top: 0;
    z-index: 1;
  
    /* Generic styling */
    background-color: var(--nav-bg-color);
    color: var(--nav-color);
    border-bottom: var(--borders);
    box-shadow: 0 6px 5px -5px var(--border-color);
    padding: var(--padding-tb) var(--padding-side);
    min-height: calc(0.1 * 100vh);
  
    /* Set content within */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  
  @media screen and (max-width: 576px) {
    .nav {
      background-image: linear-gradient(red, blue);
      /* position: fixed; */
      /* inset: 0rem; */
      /* width: 100vw; */
      /* height: 100vh; */
  
      /* align-items: start; */
      /* padding: var(--padding-tb) var(--padding-side); */
      /* display: inline; */
      /* justify-content: space-between;
      align-items: center; */
      /* height: 100vh;
      border: 3px solid orange; */
  
      display: block;
      height: 100vh;
      /* border: 2px solid #333; */
      /* border-radius: 2rem; */
      /* margin: 0 auto 2rem; */
      /* margin: 0 1rem; */
      line-height: 7rem;
    }
  
    .nav h2 {
      padding: 1rem;
      background: black;
      color: white;
      border-radius: 2rem 2rem 0 0; /* TL TR BR BL */
    }
  }
  .nav__ul {
    list-style: none;
    /* position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid green;
  
    font-size: 300%;
    list-style: none; */
  
    /* display: none; */
    /* background-image: linear-gradient(red, blue);
    position: fixed;
    inset: 0rem;
    width: 100vw;
    height: 100vh;
    padding: var(--padding-tb) var(--padding-side);
    border-radius: 0.25rem;
    box-shadow: 0 0 0.75em rgb(0, 0, 0, 0.05); */
  }
  /* .nav__ul li {
    border-top: 1px solid #333;
  } */
  
  /* Lets the etire space clickable */
  /* li a {
    display: block;
  } */
  
  /* li a:hover {
    background: #333;
    color: whitesmoke;
    cursor: pointer;
  } */
  /* .mobile-nav-toggle {
  } */
  /*
  .fa-x {
    display: none;
  } */
  
  .mobile-nav-toggle {
    font-size: var(--fs-hamburger-icon);
    background-color: var(--bgcolor-secondary);
    text-decoration: none;
    color: var(--nav-color);
    /* border: 0; */
    border-radius: 100vmax;
    width: 50px;
    height: 50px;
  
    cursor: pointer;
  
    line-height: 1;
    padding: 3px 3px;
  }
  
  .mobile-nav-toggle:hover {
    font-weight: bolder;
    font-size: calc(var(--fs-hamburger-icon) * 1.2);
  }
  
  @media screen and (min-width: 576px) {
    .mobile-nav-toggle {
      display: none;
    }
    .nav__ul {
      padding: var(--padding-tb) var(--padding-side);
      list-style-type: none; /* Removes bullets */
      display: flex; /* Render as row instead of list */
      justify-content: space-evenly;
      gap: 1rem;
    }
  }
  