.nav {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-tb) var(--padding-side);
  background-color: var(--nav-bg-color);
  color: var(--nav-color);

  min-height: var(--nav-height-min);
}
.nav__wrapper--ul--mobile {
  display: none;
}
.nav__wrapper--ul {
  position: fixed;

  text-align: center;
  line-height: 4rem;
  align-content: center;
  justify-content: center;
  list-style: none;
  top: calc(var(--nav-height-min));
  left: 0;
  background-color: black;
  color: white;
  width: 100vw;

  padding: 3rem var(--padding-side);
}

.nav__wrapper--ul a {
  text-decoration: none;
}

/* Puts a gradient behind the nav when in mobile and the nav is open */
nav[data-overlay="true"]::before {
  content: "";
  position: fixed;
  inset: 0;

  background-image: linear-gradient(rgb(0 0 0 / 0), rgb(0 0 0 / 0.8));
}
.nav__button {
  border: 0;
  background-color: transparent;
  color: var(--nav-color);
  font-size: calc(var(--fs) * 1.1);

  display: block;
  position: fixed;
  top: 20px;
  right: 20px;
}

/* Put a line above each mobile link */
/* and below the last mobile link  */
li {
  border-top: var(--nav-mobile-menu-border);
}
li:last-child {
  border-bottom: var(--nav-mobile-menu-border);
}

/* Makes the entire span clickable, rather than just the text */
li a {
  display: block;
}

.nav__button:hover {
  cursor: pointer;
  /* font-size: calc(var(--fs) * 1.5); */
}

@media only screen and (min-width: 576px) {
  .nav__wrapper--ul {
    /* font-size: var(--fs); */
    display: flex;
    list-style: none; /* Removes bullets */
    gap: clamp(1rem, 5vw, 3rem);
    font-weight: 500;
  }

  .nav__wrapper--ul a {
    text-decoration: none;
  }
  .nav__wrapper--ul--mobile {
    /* font-size: var(--fs); */
    display: flex;
    list-style: none; /* Removes bullets */
    gap: clamp(1rem, 5vw, 3rem);
    font-weight: 500;
  }

  li {
    border-top: "";
  }
  li:last-child {
    border-bottom: "";
  }

  .nav__button {
    display: none;
  }
}
