@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&family=Nunito&display=swap");

/*******************************************************************
* RESET 
*******************************************************************/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*calculations include border */
}

img {
  display: block; /* removes gap since imgs are inline by default */
  border-radius: var(--border-radius);

  /* Img responsiveness */
  max-width: 100%; /* of parent */
  height: auto;
}

/* Do not inherit font styles by default */
input,
body,
textarea {
  font: inherit;
}

/*******************************************************************
* VARIABLES
*******************************************************************/
:root {
  /* FONTS */
  --ff: "Nunito", sans-serif;
  --ff-headings: "Fugaz One";

  /* Grows and shrinks font size with a min and max */
  --fs: clamp(1rem, 2.5vw, 2rem); /* <smallest> <growth> <largest> */

  /* HAMBURGER MENU */
  --fs-hamburger-icon: 1.8rem;

  /* COLORS */
  --clr-dark-primary: black;
  --clr-light-primary: white;
  --clr-accent: orange;

  --bgcolor: var(--clr-light-primary);
  --bgcolor-secondary: var(--clr-dark-primary);
  --color-primary: var(--clr-dark-primary);
  --color-contrast: var(--clr-accent);

  --cta-bgcolor: var(--clr-accent);
  --cta-color-primary: var(--clr-dark-primary);

  --nav-bg-color: var(--clr-dark-primary);
  --nav-color: var(--clr-light-primary);
  --nav-clr-accent: rgba(255, 255, 255, 0.699);
  --nav-height-min: calc(0.1 * 100vh);
  --nav-mobile-menu-border: 1px solid rgba(245, 245, 245, 0.2);

  --border-color: var(--clr-dark-primary);
  --link-color: var(--clr-light-primary);
  --link-hover: hsla(0, 0%, 100%, 0.774);
  --link-active: var(--clr-accent);

  /* BORDERS */
  --borders: 1px solid var(--border-color);
  --border-radius: 0.25rem;

  /* STANDARD PADDING */
  --padding-tb: 0.25em;
  --padding-side: 2.5%;

  /* STANDARD MARGIN */
  --margin: clamp(1em, 2.5vw, 5rem) 0;
  /* --margin-article: clamp(1em, 2.5vh, 5rem) 0; */
}

/*******************************************************************
* UTILITY CLASSES
*******************************************************************/
.offscreen {
  position: absolute;
  left: -10000px;
}

.nowrap {
  white-space: nowrap;
}

.no-flex-wrap {
  flex-wrap: nowrap;
}

.center {
  text-align: center;
}

.display-none {
  display: none;
}

/* Creates a black background that spans the entire view width. */
/* Centers the content that is with it */
/* For example, the collage uses this BG */
.black-section {
  background-color: var(--bgcolor-secondary);
  width: 100vw;
  display: flex;
  justify-content: center;
}

/*******************************************************************
* GENERAL STYLES
*******************************************************************/
html {
  font-size: var(--fs);
  font-family: var(--ff);
  background-color: var(--bgcolor);
}
body {
  min-height: 100vh;
  color: var(--color-primary);
  margin: 0 auto; /* centers left and right */
}

/* React root div */
#root {
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

h1,
h2,
h3 {
  font-family: var(--ff-headings);
  letter-spacing: 0.1em;
}

p {
  line-height: 1.5;
}

/* a:any-link {
  color: var(--link-color);
  cursor: pointer;
} */

/* a:hover,
a:focus-visible {
  color: var(--link-hover);
} */

a:active {
  color: var(--link-active);
}

/*******************************************************************
* || MAIN
*******************************************************************/
.main {
  padding: var(--padding-tb) var(--padding-side);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__article {
  margin: var(--margin);
}

/*****************************
 * || Nav
 ****************************/

.nav {
  background: var(--nav-bg-color);
  min-height: var(--nav-height-min);
  display: flex;
  justify-content: center;
  align-items: center;

  /* font-size: 1.2rem; */
  position: sticky;
  top: 0;
  z-index: 999;
}

.nav-container {
  display: flex;
  justify-content: space-between; /* Push nav elements as far apart as possible */
  min-height: var(--nav-height-min);
}

.nav-wrapper {
  z-index: 1;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: var(--padding-side);
}

.nav-container__logo {
  color: var(--nav-color);
  cursor: pointer;
  text-decoration: none; /* Removes underline */
  display: flex;
  align-items: center;
}

.nav-container__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none; /* No bullets */
  /* text-align: center; */
  /* justify-content: flex-end; */
}

/* .nav-container__item {
  min-height: var(--nav-height-min);
} */

/* Puts a line under the nav element when */
/* hovering over it */
.nav-container__item:hover {
  border-bottom: 2px solid var(--color-contrast);
}

.nav-container__link {
  color: var(--nav-color);
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  /* height: 100%; */
}

/* Color the nav link of the page we're on */
.active {
  color: var(--color-contrast);
}

/* Don't display the toggle by default */
.nav-container__toggle {
  display: none;
  color: var(--nav-color);
}

@media screen and (max-width: 576px) {
  /* We want the menu to "open" by sliding in 
     from the left. 
     We set the menu so that it is off the UI
     in that direction 
  */
  .nav-container__menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: var(--nav-height-min);
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  /* Sliding animation. 
     The menu slides into place with `left:0` 
  */
  .nav-container__menu.nav-container__menu--active {
    background-color: var(--nav-bg-color);
    left: 0;
    opacity: 1;
    transition: all 0.6s ease;
    z-index: 1;
  }

  /* Makes the entire block of each nav link from the 
     mobile nav hoverable/clickable */
  .nav-container__link {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  /* Increases each nav link (mobile mode) when hovered */
  .nav-container__link:hover {
    color: var(--color-contrast);
    transform: scale(1.2);
    transition: all 0.3s ease;
  }

  /* Removes the bottom border we have in place for the 
     desktop version of the nav bar */
  .nav-container__item:hover {
    border: none;
  }

  .nav-container__item {
    width: 100%;
  }

  .nav-container__toggle {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  /* Puts a gradient behind the nav when in mobile and the nav is open */
  nav[data-overlay="true"]::before {
    content: "";
    position: fixed;
    inset: 0;

    background-image: linear-gradient(rgb(0 0 0 / 0), rgb(0 0 0 / 0.8));
  }
}

/*****************************
 * || Collage
 ****************************/

.collage__container {
  width: 94%; /* Chosen to match the side margins of the rest of the page */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1rem 0;
  gap: 1rem;
}

/* Shows a 2x3 grid of images on screens 576+ */
@media screen and (min-width: 576px) {
  .collage__container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/**************************
 * || Footer
 *************************/
.footer {
}

/*******************
 * || Button
 *****************/
.button {
  background-color: var(--bgcolor-secondary);
  color: white;
  cursor: pointer;
  text-decoration: none;
  border: 0;
  border-radius: 100vmax;

  line-height: 1;
  padding: 1.1em 2.5em;
  font-weight: bold;
  box-shadow: 0 1.25em 1em -1em var(--bgcolor-secondary);
}

.button:hover,
.button:focus-visible {
  background-color: #333;
}
