@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&family=Nunito&display=swap");

/*******************************************************************
* RESET 
*******************************************************************/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*calculations include border */
}

img {
  display: block; /* removes gap since imgs are inline by default */

  /* Img responsiveness */
  max-width: 100%; /* of parent */
  height: auto;
}

/* Do not inherit font styles by default */
input,
body,
textarea {
  font: inherit;
}

/*******************************************************************
* VARIABLES
*******************************************************************/
:root {
  /* FONTS */
  --ff: "Nunito", sans-serif;
  --ff-headings: "Fugaz One";

  /* Grows and shrinks font size with a min and max */
  --fs: clamp(1rem, 2.5vw, 2rem); /* <smallest> <growth> <largest> */

  /* HAMBURGER MENU */
  --fs-hamburger-icon: 1.8rem;

  /* COLORS */
  --bgcolor: white;
  --bgcolor-secondary: black;
  --color-primary: black;

  --cta-bgcolor: orange;
  --cta-color-primary: black;

  --nav-bg-color: black;
  --nav-color: white;
  --nav-clr-accent: rgba(255, 255, 255, 0.699);
  --nav-height-min: calc(0.1 * 100vh);
  --nav-mobile-menu-border: 1px solid rgba(245, 245, 245, 0.2);

  --border-color: #333;
  --link-color: white;
  --link-hover: hsla(0, 0%, 100%, 0.774);
  --link-active: orange;

  /* BORDERS */
  --borders: 1px solid var(--border-color);

  /* STANDARD PADDING */
  --padding-tb: 0.25em;
  --padding-side: 2.5%;

  /* STANDARD MARGIN */
  --margin: clamp(1em, 2.5vw, 5rem) 0;
  /* --margin-article: clamp(1em, 2.5vh, 5rem) 0; */
}

/*******************************************************************
* UTILITY CLASSES
*******************************************************************/
.offscreen {
  position: absolute;
  left: -10000px;
}

.nowrap {
  white-space: nowrap;
}

.no-flex-wrap {
  flex-wrap: nowrap;
}

.center {
  text-align: center;
}

.display-none {
  display: none;
}

/* Creates a black background that spans the entire view width. */
/* Centers the content that is with it */
/* For example, the collage uses this BG */
.black-section {
  background-color: var(--bgcolor-secondary);
  width: 100vw;
  display: flex;
  justify-content: center;
}

/*******************************************************************
* GENERAL STYLES
*******************************************************************/
html {
  font-size: var(--fs);
  font-family: var(--ff);
  background-color: var(--bgcolor);
}
body {
  min-height: 100vh;
  color: var(--color-primary);
  margin: 0 auto; /* centers left and right */
}

/* React root div */
#root {
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

h1,
h2,
h3 {
  font-family: var(--ff-headings);
  letter-spacing: 0.1em;
}

p {
  line-height: 1.5;
}

a:any-link {
  color: var(--link-color);
  cursor: pointer;
}

a:hover,
a:focus-visible {
  color: var(--link-hover);
}

a:active {
  color: var(--link-active);
}

/*******************************************************************
* || MAIN
*******************************************************************/
.main {
  padding: var(--padding-tb) var(--padding-side);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__article {
  margin: var(--margin);
}

/*****************************
 * || Nav
 ****************************/
.nav {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-tb) var(--padding-side);
  background-color: var(--nav-bg-color);
  color: var(--nav-color);

  min-height: var(--nav-height-min);
}
.nav__wrapper--ul--mobile {
  display: none;
}
.nav__wrapper--ul {
  position: fixed;

  text-align: center;
  line-height: 4rem;
  align-content: center;
  justify-content: center;
  list-style: none;
  top: calc(var(--nav-height-min));
  left: 0;
  background-color: black;
  color: white;
  width: 100vw;

  padding: 3rem var(--padding-side);
}

.nav__wrapper--ul a {
  text-decoration: none;
}

nav[data-overlay="true"]::before {
  content: "";
  position: fixed;
  inset: 0;

  background-image: linear-gradient(rgb(0 0 0 / 0), rgb(0 0 0 / 0.8));
}
.nav__button {
  border: 0;
  background-color: transparent;
  color: var(--nav-color);
  font-size: calc(var(--fs) * 1.3);

  display: block;
  position: fixed;
  top: 20px;
  right: 20px;
}

/* Put a line above each mobile link */
/* and below the last mobile link  */
li {
  border-top: var(--nav-mobile-menu-border);
}
li:last-child {
  border-bottom: var(--nav-mobile-menu-border);
}

/* Makes the entire span clickable, rather than just the text */
li a {
  display: block;
}

.nav__button:hover {
  cursor: pointer;
  font-size: calc(var(--fs) * 1.5);
}
/*****************************
 * || Collage
 ****************************/

.collage__container {
  width: 94%; /* Chosen to match the side margins of the rest of the page */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1rem 0;
  gap: 1rem;
}

/* Shows a 2x3 grid of images on screens 576+ */
@media screen and (min-width: 576px) {
  .collage__container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/**************************
 * || Footer
 *************************/
.footer {
  background-color: var(--nav-bg-color);
  color: var(--nav-color);
  bottom: 0;
  padding: var(--padding-tb) var(--padding-side);

  /* Center horizontally and vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;

  min-height: 200px;

  /* Center-align text */
  /* text-align: center;
  box-shadow: #333;
  border-top: var(--borders);
  min-height: 200px; */

  /* offset-x | offset-y | blur-radius | color */
  box-shadow: 6px 0 5px var(--border-color);
}

.footer > * {
  flex: 1 1 100%;
}

@media screen and (min-width: 576px) {
}

.footer__copyright {
}

/***********************
 * || Call to Action
 **********************/
/* justify-content: center; */
.main__article--cta {
}

.cta {
  margin: var(--margin);
  background-color: var(--cta-bgcolor);
  color: var(--cta-color-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100vw * 0.75);
  height: calc(100vw / 5);
}

/*******************
 * || Button
 *****************/
.button {
  background-color: var(--bgcolor-secondary);
  color: white;
  cursor: pointer;
  text-decoration: none;
  border: 0;
  border-radius: 100vmax;

  line-height: 1;
  padding: 1.1em 2.5em;
  font-weight: bold;
  box-shadow: 0 1.25em 1em -1em var(--bgcolor-secondary);
}

.button:hover,
.button:focus-visible {
  background-color: #333;
}
